@import "../index.scss";

.signUp_container {
  margin: 5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $vting-orange;

  & div {
    color: red;
  }

  & input {
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    border: 0;
    border-bottom: 2px solid #697f6e;
  }

  & button {
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin: 1em;
    padding: 0.7em 3em;
    background-color: $vting-blue;
    border: none;
    border-radius: 5em;
  }
}
