@import "../index.scss";

// ? max-width : 1200px 확인하기

.info_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.info_wrap {
  margin-bottom: 3em;
  width: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_vote_home {
  width: 100%;
  padding: 5em 0;
  background-color: $vting-orange;
  color: #fff;

  .info_vote_home_title {
    min-width: 1000px;
    font-size: 20px;
  }

  .info_vote_home_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .info_vote_home_img {
    margin-top: 5em;

    flex: 5;
  }
  .info_vote_home_desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3em;
    flex: 5;
    color: #fff;
    .info_vote_home_desc_title {
      color: $vting-blue;
      margin-bottom: 20px;
    }

    & p {
      margin: 10px 0 0 10px;
    }
  }
}

.info_vote_category {
  padding: 100px;
  height: 900px;

  .info_vote_category_title {
    min-width: 1000px;
    font-size: 20px;
    margin: 50px 0;
    margin-bottom: 100px;
  }
}

.info_vting_option {
  padding: 50px;
  background-color: $vting-orange;
  color: #fff;

  .info_vote_nonmember_title {
    min-width: 1000px;
    margin: 3em;
    margin-bottom: 50px;
  }

  .info_vote_member_title {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .info_nonmember_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // padding-bottom: 5em;

    .info_nonmember_option_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .img_size {
        background: #fff;
        height: 352px;
      }

      .info_nonmember_option_img {
        flex: 5;
      }

      .info_nonmember_option_desc {
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .info_nonmember_option_desc_title {
          margin: 10px 0;
        }
      }
    }
  }

  .info_member_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5em;
    margin-bottom: 10em;

    .info_member_option_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      .info_member_option_img {
        flex: 5;
      }

      .info_member_option_desc {
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .info_member_option_desc_title {
          margin: 10px 0;
        }
      }
    }
  }
}

.info_move_to_new {
  height: 850px;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote_category {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 100px 200px;

  .horizontal_graph_icon {
    padding: 5px 5px;
    background-color: $vting-blue;
    color: #fff;
    border-radius: 20%;
    font-size: 100px;
  }

  .vertical_graph_icon {
    padding: 5px 5px;
    background-color: $vting-blue;
    color: #fff;
    border-radius: 20%;
    font-size: 100px;
  }
  .versus_icon {
    padding: 5px 5px;
    background-color: $vting-blue;
    color: #fff;
    border-radius: 20%;
    font-size: 100px;
  }

  .chat_icon {
    padding: 5px 5px;
    background-color: $vting-blue;
    color: #fff;
    border-radius: 20%;
    font-size: 100px;
  }
  .cloud_icon {
    padding: 5px 5px;
    background-color: $vting-blue;
    color: #fff;
    border-radius: 20%;
    font-size: 100px;
  }
}

.icon_wrap {
  display: flex;
  flex-direction: column;
  .icon_img {
    margin: 20px;
  }
  .icon_desc {
    width: 300px;
    padding: 10px;
  }
}
