@import "../index.scss";

.newVoteCon {
  min-height: 500px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
}

.vote-body {
  display: flex;
  flex: 5 1 auto;
  flex-direction: column;
  .vote-making {
    min-height: 400px;
    display: flex;
    flex-direction: row;
  }
  .vote-button {
    display: flex;
    justify-content: center;
  }
}

.voteFormatsCon {
  flex: 1 1;
  ul {
    margin-top: 0;
  }
  li {
    list-style: none;
    margin-bottom: 20px;
  }
  .voteFormatIcon {
    background-color: $vting-blue;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    line-height: 75px;
    color: $vting-gray;
    filter: drop-shadow(3px 3px 0 $vting-gray);
    cursor: pointer;
    font-size: 40px;
    svg {
      pointer-events: none;
    }
  }
  .active {
    animation-name: btnColor;
    animation-duration: 0.3s;
    background-color: $vting-orange;
  }
  @keyframes btnColor {
    0% {
      background-color: $vting-blue;
    }
    100% {
      background-color: $vting-orange;
    }
  }
  #barVer > svg {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }
}

.voteMakerCon {
  flex: 2 2 0;
  text-align: center;
  label.disabledLabel {
    color: $vting-gray;
  }
  img.vting-logo {
    width: 40%;
    opacity: 0.3;
  }
  div {
    justify-content: center;
  }
}

.votePreviewCon {
  flex: 2 2 0;
  text-align: center;
  img.vting-logo {
    width: 40%;
    opacity: 0.3;
  }
  div {
    justify-content: center;
  }
  .votePreviewTitle {
    padding: 10px;
    min-height: 24px;
    font-size: 20px;
    background-color: $vting-orange;
    color: white;
  }
  .votePreviewBack {
    width: 100%;
    padding: 20px 0;
    min-height: 250px;
    background-color: $vting-gray;

    .votePreview-barVer-con {
      padding: 10%;
      width: 80%;
      height: 250px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #votePreview-barVer-bar {
      flex: 1 1 auto;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .barVer-itemName {
        // width: 100%;
      }
      .barVer-itemBar {
        width: 100%;
        animation-name: barVerAnimation;
        animation-duration: 1s;
        background-color: $vting-blue;
      }
      @keyframes barVerAnimation {
        0% {
          height: 0;
        }
      }
    }

    .votePreview-barHor-con {
      width: 80%;
      padding: 10%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    #votePreview-barHor-bar {
      flex: 1 1 auto;
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .barHor-itemName {
        // width: 100%;
      }
      .barHor-itemBar {
        height: 100%;
        animation-name: barAnimation;
        animation-duration: 1s;
        background-color: $vting-blue;
      }
      @keyframes barAnimation {
        0% {
          width: 0;
        }
      }
    }
  }
}

.makeVoteAlert {
  text-align: center;
  background-color: $vting-green;
  color: black;
  padding: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .alertTitle {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: $vting-blue;
    color: white;
  }
  .alertContent {
    background-color: white;
    width: 100%;
    line-height: 25px;
    .alertContentText {
      padding: 20px;
    }
  }
  .alertInput {
    padding: 20px;
  }
  .alertInputPassword {
    text-align: center;
    padding-top: 20px;
    .passwordLabel {
      padding: 5px 10px;
      background-color: $vting-blue;
      color: white;
    }
    input {
      padding: 5px;
      border: solid 2px $vting-blue;
      box-sizing: border-box;
    }
    .notMatched {
      line-height: 20px;
      font-size: 15px;
      color: red;
    }
    .none {
      display: none;
    }
  }
}

.vtingButton {
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  background-color: $vting-orange;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.vtingButtonGray {
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  background-color: $vting-gray;
  color: black;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
