@import "../index.scss";

.bannerCon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nonUserBanner {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: $vting-green;
    z-index: 3;
    justify-content: center;
    align-items: center;
  }
}

.newVoteCon {
  // width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  padding: 70px 100px;
  box-shadow: 2px 0 8px $vting-gray;
}

.vote-body {
  width: 900px;
  display: flex;
  flex-direction: row;

  .vote-info {
    width: 300px;
    height: 80px;
    padding: 20px;
    background-color: $vting-green;
    border-radius: 5px;
    position: relative;
    animation: motion 0.4s linear 0s infinite alternate;
  }
  .vote-info:after {
    border-top: 0px solid transparent;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 7px solid $vting-green;
    content: "";
    position: absolute;
    top: 20px;
    left: -15px;
  }
  @keyframes motion {
    0% {
      margin-left: 20px;
    }
    100% {
      margin-left: 30px;
    }
  }

  .vote-making {
    min-height: 500px;
    display: flex;
    flex-direction: row;
  }
  .vote-button {
    // display: flex;
    // justify-content: center;
    .vtingButton {
      width: 310px;
      height: 40px;
    }
  }
}

.voteFormatsCon {
  grid-area: icon;
  display: flex;
  justify-content: flex-start;
  ul {
    margin-top: 0;
  }
  li {
    list-style: none;
    margin-bottom: 20px;
  }
  .voteFormatIcon {
    background-color: $vting-blue;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    line-height: 75px;
    color: $vting-gray;
    filter: drop-shadow(3px 3px 0 $vting-gray);
    cursor: pointer;
    font-size: 40px;
    svg {
      pointer-events: none;
    }
  }
  .active {
    animation-name: btnColor;
    animation-duration: 0.3s;
    background-color: $vting-orange;
  }
  @keyframes btnColor {
    0% {
      background-color: $vting-blue;
    }
    100% {
      background-color: $vting-orange;
    }
  }
  #barVer > svg {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }
}

.voteMakerCon {
  padding: 0 70px;
  width: 450px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: start;
  .voteLabel {
    font-weight: 500;
  }
  .voteTitle {
    color: red;
    display: none;
  }
  .voteTitleErr {
    display: block;
  }
  .voteItem {
    color: red;
    display: none;
  }
  .voteItemErr {
    display: block;
  }
  .topMargin10 {
    margin-top: 30px;
  }

  label.disabledLabel {
    color: $vting-gray;
  }
  img.vting-logo {
    width: 40%;
    opacity: 0.3;
  }
  div {
    justify-content: center;
  }
  .VotetextInput {
    width: 310px;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid $vting-orange;
  }

  .voteAnswers {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: flex-start;
    flex-wrap: wrap;
    .voteAnswer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 5px 0;
      .answerIdx {
        background-color: $vting-orange;
        color: white;
        width: 30px;
        text-align: center;
        line-height: 40px;
      }
      .VoteAnswerInput {
        width: 255px;
        height: 40px;
        padding: 5px;
        border: 0;
        border: 2px solid $vting-orange;
      }
    }
  }

  .versusAnswers {
    text-align: center;
    .versusAnswer {
      padding: 10px 0;
      .versusAnswerInput {
        text-align: center;
        width: 310px;
      }
    }
  }

  .plusItem {
    background-color: $vting-orange;
    color: white;
    width: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .shakeIt {
    animation: shake 0.1s linear 0.1s 5 alternate;
  }
  @keyframes shake {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 2px;
    }
  }
  .voteOptionItems {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .voteOptionItem {
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .fakeCheck {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid $vting-orange;
        margin-right: 5px;
        svg {
          fill: none;
          stroke: $vting-orange;
          stroke-width: 3px;
          animation-name: check;
          animation-duration: 0.5s;
        }
        @keyframes check {
          0% {
            stroke: white;
          }
          100% {
            stroke: $vting-orange;
          }
        }
      }
      .disabled {
        border: 2px solid $vting-gray;
      }
      .disabledText {
        color: $vting-gray;
      }
    }
  }
}

.votePreviewCon {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  img.vting-logo {
    width: 40%;
    opacity: 0.3;
  }
  div {
    justify-content: center;
  }
  .votePreviewTitle {
    padding: 10px;
    min-height: 24px;
    font-size: 20px;
    background-color: $vting-orange;
    color: white;
  }
  .votePreviewBack {
    padding: 30px;
    height: 300px;
    border: 2px solid $vting-orange;
    // background-color: $vting-gray;

    .votePreview-barVer-con {
      // padding: 30px;
      height: 230px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow-x: auto;
    }
    #votePreview-barVer-bar {
      // flex: 1 1 0;
      margin: 0 10px;
      // padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .barVer-itemBar {
        // padding: 0 10px;
        // border: 0 10% solid white;
        width: 50px;
        // width: 100%;
        animation-name: barVerAnimation;
        animation-duration: 1s;
        background-color: $vting-blue;
      }
      .barVer-itemName {
        margin-bottom: 10px;
        width: 50px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      @keyframes barVerAnimation {
        0% {
          height: 0;
        }
      }
    }

    .votePreview-barHor-con {
      // width: 80%;
      // padding: 10%;
      height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      overflow-y: auto;
    }
    #votePreview-barHor-bar {
      // flex: 1 1 auto;
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .barHor-itemBar {
        height: 30px;
        animation-name: barAnimation;
        animation-duration: 1s;
        background-color: $vting-blue;
      }
      .barHor-itemName {
        width: 150px;
        text-align: left;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      @keyframes barAnimation {
        0% {
          width: 0;
        }
      }
    }
    .openItems {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      .openItem {
        // min-width: 150px;
        text-align: left;
        flex: 2 1 0;
        margin: 5px;
        padding: 10px;
        border: 1px dotted $vting-blue;
      }
      .openItem:first-child {
        border: 1px dotted $vting-green;
      }
      .openItem:last-child {
        border: 1px dotted $vting-orange;
      }
    }
    .versusItemCon {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .versusItem {
        flex: 1 1 0;
        padding: 0 10px;
        color: $vting-green;
      }
      .versusItem:first-child {
        font-size: 30px;
        color: $vting-blue;
      }
    }
  }
  .vResult {
    height: 100%;
  }
}

.makeVoteAlert {
  text-align: center;
  background-color: $vting-green;
  color: black;
  padding: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .alertTitle {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: $vting-blue;
    color: white;
  }
  .alertContent {
    background-color: white;
    width: 100%;
    line-height: 25px;
    .alertContentText {
      padding: 20px;
    }
  }
  .alertInput {
    padding: 20px;
  }
  .alertInputPassword {
    text-align: center;
    padding-top: 20px;
    .passwordLabel {
      padding: 5px 10px;
      background-color: $vting-blue;
      color: white;
    }
    input {
      padding: 5px;
      border: solid 2px $vting-blue;
      box-sizing: border-box;
    }
    .notMatched {
      line-height: 20px;
      font-size: 15px;
      color: red;
    }
    .none {
      display: none;
    }
  }
}

.vtingButton {
  font-size: 15px;
  font-weight: 400;
  width: 80%;
  background-color: $vting-orange;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.vtingButtonGray {
  cursor: help;
  font-size: 15px;
  font-weight: 400;
  width: 80%;
  background-color: $vting-gray;
  color: gray;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  margin-top: 10px;
  outline: 0;
  cursor: no-drop;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
