@import "../index.scss";

.newVoteCon {
  min-height: 500px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
}

.vote-body {
  display: flex;
  flex: 5 1 auto;
  flex-direction: column;
  .vote-making {
    min-height: 400px;
    display: flex;
    flex-direction: row;
  }
  .vote-button {
    display: flex;
    justify-content: center;
  }
}

.voteFormatsCon {
  flex: 1 1;
  ul {
    margin-top: 0;
  }
  li {
    list-style: none;
    margin-bottom: 20px;
  }
  .voteFormatIcon {
    background-color: $vting-blue;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    line-height: 75px;
    color: $vting-gray;
    filter: drop-shadow(3px 3px 0 $vting-gray);
    cursor: pointer;
    font-size: 40px;
    svg {
      pointer-events: none;
    }
  }
  .active {
    animation-name: btnColor;
    animation-duration: 0.3s;
    background-color: $vting-orange;
  }
  @keyframes btnColor {
    0% {
      background-color: $vting-blue;
    }
    100% {
      background-color: $vting-orange;
    }
  }
  #barVer > svg {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }
}

.voteMakerCon {
  flex: 2 1 0;
  text-align: center;
  label.disabledLabel {
    color: $vting-gray;
  }
  img.vting-logo {
    width: 40%;
    opacity: 0.3;
  }
  div {
    justify-content: center;
  }
}

.votePreviewCon {
  flex: 2 1 0;
  text-align: center;
  img.vting-logo {
    width: 40%;
    opacity: 0.3;
  }
  div {
    justify-content: center;
  }
  .votePreviewTitle {
    margin-top: 20px;
    padding: 10px;
    min-height: 24px;
    font-size: 20px;
    background-color: $vting-orange;
    color: white;
  }
  .votePreviewBack {
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: $vting-gray;

    .votePreview-barVer-con {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #votePreview-barVer-bar {
      flex: 1 1 auto;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .barVer-itemName {
        width: 100%;
      }
      .barVer-itemBar {
        width: 100%;
        animation-name: barVerAnimation;
        animation-duration: 1s;
        background-color: $vting-blue;
      }
      @keyframes barVerAnimation {
        0% {
          height: 0;
        }
      }
    }

    .votePreview-barHor-con {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    #votePreview-barHor-bar {
      flex: 1 1 auto;
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .barHor-itemName {
        // width: 100%;
      }
      .barHor-itemBar {
        height: 100%;
        animation-name: barAnimation;
        animation-duration: 1s;
        background-color: $vting-blue;
      }
      @keyframes barAnimation {
        0% {
          width: 0;
        }
      }
    }
  }
}
