@import "../index.scss";

.container {
  width: 100%;
  min-height: 100px;
  background-color: $vting-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavBarMobile {
  display: none;
}

.votingBannerCon {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $vting-orange;
  justify-content: center;
  color: white;
  .votingBanner {
    padding: 0 35px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .votingBannerText {
      font-weight: 500;
    }
    .votingBannerInput {
      input {
        font-size: 17px;
        padding: 0 5px;
        width: 700px;
        text-align: center;
        // border: none;
        border-radius: 3px;
        border: 1px solid transparent;
        border: 1px solid $vting-orange;
        border-top: none;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39),
          0 -1px 1px $vting-orange, 0 1px 0 $vting-orange;
      }
    }
    button {
      background-color: $vting-blue;
      color: white;
      padding: 5px 15px;
      border-radius: 20px;
      border-style: none;
      outline: 0;
      cursor: pointer;
      box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.NavBar {
  height: 100px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.NavLeft {
  display: flex;
  // padding-right: 50px;
  flex-direction: row;
  padding-left: 10px;
}

.NavRight {
  // flex: 60%;
  // align-items: center;
  display: flex;
  // justify-content: flex-end;
  // padding-right: 100px;
  // border-bottom: 1px solid $vting-gray;
}

.nav-link {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $vting-blue;
  padding: 20px 0;
  margin: 0px 40px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: $vting-blue;
}

.link::before {
  width: 0%;
  bottom: 20px;
}

.link:hover::before {
  width: 100%;
}

// *

.profile {
  margin-right: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  .subMenu {
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    height: 0;
    transition: height 0.2s;
    list-style: none;
    padding: 0px 10px;
    // margin-bottom: 20px;
    // text-align: center;
    .username {
      display: none;
    }
    .nav-link {
      display: none;
      font-size: 16px;
      font-weight: 400;
      color: black;
      margin: 0 20px;
      padding: 10px;
    }
  }
}

.profile:hover {
  text-align: center;
  .subMenu {
    margin-left: -35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    height: 180px;
    box-shadow: 2px 0 8px $vting-gray;
    z-index: 3;
    .username {
      display: block;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
    }
    .nav-link {
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: black;
      margin: 0 20px;
      padding: 10px;
    }
    .nav-link::before {
      display: none;
    }
    .nav-link::after {
      display: none;
      // z-index: -1;
    }
  }
}

@media (max-width: 1439px) {
  .NavBar {
    width: 960px;
  }
  .votingBannerCon {
    .votingBanner {
      width: 960px;
      .votingBannerInput {
        input {
          width: 600px;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .votingBannerCon {
    display: none;
  }
  .container {
    height: 30px;
    .NavBar {
      display: none;
    }
    .NavBarMobile {
      justify-content: space-between;
      align-items: center;
      width: 320px;
      display: flex;
      .NavLeft {
        padding: 0;
      }
      .NavMobileMenuBtn {
        height: 40px;
        font-size: 40px;
        color: $vting-orange;
      }
      .NavMobileMenu {
        display: none;
      }
      .block {
        position: fixed;
        background-color: $vting-orange;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 100px;
        left: 0;
        display: flex;
        flex-direction: column;
        .logoutUserMenu {
          display: flex;
          flex-direction: column;
          padding-top: 50px;
        }
        .profile {
          padding-top: 50px;
          padding-bottom: 50px;
          margin: 0;
          display: flex;
          flex-direction: column;
          color: white;
          border-bottom: 3px double white;
          .profileCon {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          margin-top: 50px;
        }
        .nav-link {
          color: white;
          padding: 10px 0;
        }
      }
    }
  }
}
