@import "../index.scss";

.container {
  width: 100%;
  height: 100px;
  // background-color: #c0ecf7;
  box-shadow: 0 7px 7px -4px $vting-gray;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavLeft {
  flex: 40%;
  display: flex;
  padding-right: 50px;
  flex-direction: row;
  padding-left: 30px;
}

.NavRight {
  // flex: 60%;
  // align-items: center;
  display: flex;
  // justify-content: flex-end;
  padding-right: 100px;
  // border-bottom: 1px solid $vting-gray;
}

.nav-link {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404142;
  padding: 20px 0px;
  margin: 0px 70px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #404142;
}

.link::before {
  width: 0%;
  bottom: 10px;
}

.link:hover::before {
  width: 100%;
}

// *

.subMenu {
  text-decoration: none;
  position: absolute;
  overflow: hidden;
  height: 0px;
  transition: height 0.2s;
  list-style: none;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.profile {
  margin-left: 100px;
}

.profile:hover .subMenu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $vting-gray;
  width: 220px;
  height: 200px;
}

// .btn {
// &::before {
//   content: "";
//   background: linear-gradient(
//     45deg,
//     #ff0000,
//     #ff7300,
//     #fffb00,
//     #48ff00,
//     #00ffd5,
//     #002bff,
//     #7a00ff,
//     #ff00c8,
//     #ff0000
//   );
//   position: absolute;
//   top: -2px;
//   left: -2px;
//   background-size: 400%;
//   z-index: -1;
//   filter: blur(5px);
//   width: calc(100% + 4px);
//   height: calc(100% + 4px);
//   animation: glowing 20s linear infinite;
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
//   border-radius: 10px;
// }

//   &:active {
//     color: #000;
//   }

//   &:active::after {
//     background: transparent;
//   }

//   &:hover::before {
//     opacity: 1;
//   }

//   &::after {
//     z-index: -1;
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: #111;
//     left: 0;
//     top: 0;
//     border-radius: 10px;
//   }

//   @keyframes glowing {
//     0% {
//       background-position: 0 0;
//     }
//     50% {
//       background-position: 400% 0;
//     }
//     100% {
//       background-position: 0 0;
//     }
//   }
// }
