@import "../index.scss";

.voteResultPageCon {
  padding-bottom: 300px;
  width: 1200px;
  .voteResultPage {
    border: 1px solid $vting-gray;
    background-color: white;
    filter: drop-shadow(3px 3px 0 $vting-gray);
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .voteResultTitle {
      background-color: $vting-orange;
      color: white;
      padding: 20px 30px;
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      box-sizing: border-box;
    }
    .realTimeCon {
      height: 100%;
    }
  }
  .voteResultContent {
    height: 520px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .errorCon {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      .errorTitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 80px;
        background-color: $vting-gray;
        padding: 10px 20px;
      }
    }
    .voteResultChild {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .voteResultChildTitle {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
      .voteResultChildContent {
        width: 280px;
        height: 200px;
        padding: 10px;
        background-color: $vting-gray;
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .voteResultChildQr {
        background-color: white;
        img {
          width: 80%;
        }
      }
      .voteResultChildShare {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .copy,
        .sns {
          margin: 10px;
          background-color: $vting-blue;
          color: white;
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50px;
          font-size: 30px;
          text-align: center;
          line-height: 40px;
          cursor: pointer;
        }
      }
      .voteResultChildEx {
        text-align: center;
        width: 280px;
        padding: 10px;
        box-sizing: border-box;
      }
    }
    .hrVer {
      height: 200px;
      border-left: 1px solid black;
    }

    .nonUserPasswordCon {
      display: flex;
      flex-direction: column;
      .nonUserPasswordText {
        margin: 20px;
        text-align: center;
        line-height: 25px;
      }
      input {
        border: none;
        border-bottom: 2px solid $vting-orange;
        margin: 20px;
        font-size: 20px;
        text-align: center;
      }
      button {
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        background-color: $vting-orange;
        color: white;
        padding: 10px;
        border-radius: 20px;
        border-style: none;
        margin-top: 10px;
        outline: 0;
        cursor: pointer;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.copyAlert {
  background-color: $vting-green;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  font-family: Arial;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
}

.imgAlert {
  background-color: white;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  font-family: Arial;
  box-sizing: border-box;
  text-align: center;
  margin-top: -150px !important;
  img {
    width: 300px;
  }
  .imgAlertBtn {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 400;
    background-color: $vting-blue;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 60px;
  }
}

.versusCon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .item1 {
    flex: 1 1 0;
    text-align: center;
    color: $vting-blue;
  }
  .item2 {
    flex: 1 1 0;
    text-align: center;
    color: $vting-green;
  }
  .vs {
    color: $vting-orange;
  }
}

@media (max-width: 1439px) {
  .voteResultPageCon {
    min-width: 960px;
    .voteResultContent {
      .voteResultChild {
        align-items: center;
        .voteResultChildContent {
          width: 250px;
          height: 150px;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .voteResultPageCon {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 200px;
    width: 320px;
    align-items: center;
    .voteResultPage {
      border: none;
      filter: none;
      .voteResultTitle {
        width: 100%;
        background-color: $vting-blue;
      }
      .voteResultContent {
        border: 1px solid $vting-blue;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        .voteResultChild {
          .voteResultChildTitle {
            width: 100%;
            background-color: $vting-orange;
            color: white;
          }
          .voteResultChildContent {
            font-size: 20px;
            width: 100%;
            height: 100px;
          }
          .voteResultChildQr {
            height: 270px;
            background-color: $vting-gray;
          }
        }
        .hrVer {
          height: 0;
          width: 300px;
          border-bottom: 1px solid $vting-blue;
          margin: 30px 0;
        }
      }
    }
    .voteResultFooter {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      align-items: center;
      .modeChange {
        padding-bottom: 30px;
      }
      .options {
        padding-bottom: 30px;
      }
    }
  }
}
