@import "../index.scss";

.voteResultPageCon {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  .voteResultPage {
    border: 1px solid $vting-gray;
    background-color: white;
    filter: drop-shadow(3px 3px 0 $vting-gray);
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .voteResultTitle {
      background-color: $vting-orange;
      color: white;
      padding: 20px 30px;
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      box-sizing: border-box;
    }
  }
  .voteResultContent {
    height: 313px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .voteResultChild {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .voteResultChildTitle {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
      .voteResultChildContent {
        width: 180px;
        height: 100px;
        padding: 10px;
        background-color: $vting-gray;
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .voteResultChildQr {
        background-color: white;
        img {
          width: 80%;
        }
      }
      .voteResultChildShare {
        display: flex;
        flex-direction: row;
        justify-content: center;
        div {
          margin: 10px;
          background-color: $vting-blue;
          color: white;
          width: 30px;
          height: 30px;
          padding: 10px;
          border-radius: 30px;
          font-size: 30px;
          cursor: pointer;
        }
      }
      .voteResultChildEx {
        width: 200px;
        padding: 10px;
        box-sizing: border-box;
      }
    }
    .hrVer {
      height: 200px;
      border-left: 1px solid black;
    }

    // 여기부터 실시간 응답보기 관련 css
    .realTimeCon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      .openendIcon {
        min-width: 100px;
        padding: 15px;
        margin: 10px;
        background-color: #f7f7f7;
        border: 1px solid black;
      }
      .border1 {
        border: 1px solid $vting-orange;
      }
      .border2 {
        border: 1px solid $vting-blue;
      }
      .border3 {
        border: 1px solid $vting-green;
      }
      .border4 {
        border: 1px solid $vting-yellow;
      }
    }
  }
  .voteResultFooter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .modeChange {
      display: flex;
      flex-direction: row;
      .modebtn {
        cursor: pointer;
        padding: 10px 20px;
        background-color: $vting-orange;
        color: white;
      }
      .gray {
        background-color: $vting-gray;
        color: black;
      }
    }
    .options {
      display: flex;
      flex-direction: row;
      .toggleBtn {
        margin-left: 10px;
        background-color: $vting-gray;
        width: 85px;
        height: 30px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
      }
      .toggleCircle {
        background-color: $vting-orange;
        width: 38px;
        height: 38px;
        border-radius: 50px;
        position: absolute;
        left: 5%;
        transition: all 0.5s ease-in-out;
        color: white;
        text-align: center;
        line-height: 38px;
        font-size: 12px;
      }
      .toggleOn {
        background-color: #e2e2e2;
        color: black;
        transform: translate(38px, 0);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.copyAlert {
  background-color: $vting-green;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  font-family: Arial;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
}

.imgAlert {
  background-color: white;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  font-family: Arial;
  box-sizing: border-box;
  text-align: center;
  margin-top: -150px;
  img {
    width: 250px;
  }
  .imgAlertBtn {
    border: none;
    font-size: 20px;
    font-weight: 400;
    background-color: $vting-blue;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 60px;
  }
}
