@import "../index.scss";

.signIn_container {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 1;
  // transform: scale(0);
}

.signIn_container .signIn_background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
}

.signIn_container .signIn_background .signIn_modal {
  background: #fff;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}

.signIn_background {
  & button {
    border: none;
    cursor: pointer;
  }

  & input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #697f6e;
    width: 16em;
    font-size: 25px;
    padding-left: 5px;
  }
}

.email_wrap {
  margin-bottom: 10px;
}
.img_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.closeBtn {
  color: #aaa;
  background-color: transparent;
  line-height: 80px;
  font-size: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.btn_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.logInBtn {
  padding: 10px 10px;
  margin: 10px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: $vting-orange;
  color: #fff;
}

.signUpBtn {
  border: none;
  background-color: transparent;
  margin: 2em;
  font-size: 18px;
  color: $vting-blue;
}

// * 여기서부터 회원가입

.signUp_container {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 1;
  // transform: scale(0);
}

.signUp_container .signUp_background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
}

.signUp_container .signUp_background .signUp_modal {
  background: #fff;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}

.signUp_background {
  & button {
    border: none;
    cursor: pointer;
  }

  & input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $vting-gray;
    width: 16em;
    font-size: 25px;
    padding-left: 5px;
  }
}

.Empty {
  display: flex;
  font-size: 18px;
  color: red;
}

.Error {
  display: flex;
  font-size: 18px;
  color: red;
}

.Success {
  display: none;
}

.signUp_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.oauth_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.email_signUp {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  background-color: $vting-orange;
  color: #fff;
}
.back_login {
  padding: 10px 15px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: $vting-orange;
  color: #fff;
}

.signUp_btn {
  cursor: pointer;
  border: none;
  background-color: $vting-orange;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 55px;
  transition: all 0.5s ease;
}

.signUp_no {
  cursor: pointer;
  pointer-events: none;
  border: none;
  background-color: $vting-gray;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 55px;
  transition: all 0.5s ease;
}
