@import "../../index.scss";

.delete_container {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  box-shadow: 0 7px 7px -4px $vting-orange;
}

.delete_header {
  display: flex;
  height: 100px;
  background-color: $vting-orange;

  & h1 {
    font-size: 2.5rem;
    color: #fff;
    padding: 0 1em;
  }
}

.delete_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $vting-orange;
  margin-top: 3em;
}

.delete_btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;

  & h1 {
    color: red;
    margin: 2em 0;
  }
}

.delete_btn {
  cursor: pointer;
  border: none;
  background-color: $vting-orange;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 55px;
  transition: all 0.5s ease;
}
