@import "../../index.scss";

.delete_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70em;
  // margin: 3em;
  // border: 1px solid $vting-orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.delete_header {
  display: flex;
  height: 60px;
  width: 1200px;
  margin-top: 2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $vting-orange;

  .delete_header_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2em;
    color: #fff;
  }
}

.delete_wrap {
  display: flex;
  color: $vting-orange;
}

.delete_profile {
  min-width: 50em;
  min-height: 40em;
  margin: 5em 5em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  & .delete_userInfo {
    margin-top: 3em;
    justify-content: center;
    align-items: center;
  }
}

.delete_btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.delete_btn {
  cursor: pointer;
  border: none;
  background-color: $vting-orange;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 30px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $vting-orange;
  }
}

.deleteModal_closeBtn {
  color: #aaa;
  background-color: transparent;
  line-height: 80px;
  font-size: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

// * 회원탈퇴 모달

.deleteModal_container {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 1;
  // transform: scale(0);
}

.deleteModal_container .deleteModal_background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
}

.deleteModal_container .deleteModal_background .deleteModal_modal {
  background: #fff;
  padding: 50px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 3px;
  position: relative;

  & .deleteModal_desc {
    margin-top: 3em;
    & h3 {
      font-size: 20px;
    }
  }
}

.deleteModal_background {
  & button {
    border: none;
    cursor: pointer;
  }
}

.btnWrap {
  margin-top: 3em;
}

.delete_ok {
  background-color: $vting-gray;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0.5em;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $vting-blue;
  }
}

.delete_cancel {
  background-color: $vting-gray;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0.5em;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $vting-blue;
  }
}
