@import "../index.scss";

.homeCon {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hotVotes {
    padding: 50px;
    .hotVotesTitle {
      font-size: 20px;
      font-weight: 500;
      padding: 20px 50px;
      border: 3px solid $vting-orange;
    }
    .hotVotesContents {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      background-color: $vting-gray;
      .hotVoteCard {
        display: flex;
        flex-direction: column;
        background-color: white;
        .hotVoteCardTitle {
          background-color: $vting-blue;
          padding: 20px;
          color: white;
        }
      }
    }
  }
  .newVoteBtn {
    text-align: center;
    padding: 50px;
  }
  .services {
    text-align: center;
    padding: 50px;
  }

  .vtingButton {
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    background-color: $vting-orange;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}
